* {
  outline: none;
}

body {
  min-height: 100vh;
}

.wrapper {
  width: 160px;
  height: 160px;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.75);
  padding: 20px;
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(255, 255, 255, 1),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  text-align: center;
}

.graph {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}

.animate {
  animation: anime 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

:root {
  --end-offset: 0;
}

@keyframes anime {
  0% {
    stroke-dashoffset: 472;
  }
  100% {
    stroke-dashoffset: var(--end-offset);
  }
}
